
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error Page</title>
</head>
<body>
    <div> 
        <h1>Custom Error Page</h1>

    </div>
</body>
</html>
